@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1d1d1d;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.brdbx {
  box-sizing: border-box;
}

dialog.bg-blur::backdrop {
  backdrop-filter: blur(5px);
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 256px 224px;
  }
}